/*
===============================
Medium Screen - Others
===============================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

	.header-area {
		padding: 20px 0;
	}

	.navbar-brand img {
		max-width: 120px;
	}

	.navbar-nav li a {
		font-size: 13.2px;
	}

	.navbar-nav li a i {
		font-size: 11px;
	}

	.navbar-nav li a {
		margin: 10px 4px;
	}

	.navbar-nav li .user {
		margin-left: 4px;
	}

	.navbar-nav li:first-child {
		margin-right: 5px;
	}

	.navbar-nav li a .fa-user, .navbar-nav li a .fa-language, .navbar-nav li a .fa-cog {
		font-size: 14px;
	}

	.navbar-nav li .switch-btn {
		font-size: 12px;
	}

	.navbar-nav li a img {
		max-width: 85px;
	}

	.header-btm input {
		font-size: 15px;
	}

	.header-btm {
		bottom: -58px;
	}

	.footer-item {
		margin: 15px 0;
	}

	.block-table table th {
		font-size: 13.4px;
	}

	.block-table table td {
		font-size: 14.5px;
	}

	.blcok-uper-item h2 {
		font-size: 26.5px;
	}

	.block-upper1 {
		align-items: flex-start;
	}

	.activity-graph {
		border-bottom: none;
		border-right: none;
	}

	.activity-part .bdr-btm {
		border-bottom: 1px solid #F0F0F0;
		border-right: 2px solid #F0F0F0;
	}

	.box4 h6,
	.meter-box2 h6,
	.meter-box1 h6 {
		margin-top: -18px;
	}

	.account-topitem img {
		max-width: 45px;
	}

	.account-topcnt p {
		font-size: 13px;
	}

	.account-topcnt h4 {
		font-size: 28px;
	}

	.account-topcnt {
		margin-left: 10px;
	}


	
















}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	.modal-backdrop.show {
	    opacity: 0.5;
	}

	.modal-backdrop {
	    background-color: #000;
	}

	.mbl-sec {
		display: flex;
		position: relative;
		width: 75%;
	}

	.mbl-header {
		position: absolute;
		left: 0;
		bottom: -48px;
	}
	
	.home-mbl {
		margin-top: -18px;
	}

	.hamburger-box {
		top: -20px;
	}

	.header-btm input {
		width: 75%;
	}

	.block-upper1 {
		margin-top: 20px;
	}

	.clause-part h4 {
		padding: 24px 24px;
	}

	.box4 h6 {
		margin-top: 0;
	}

	.meter-box1,
	.meter-box2 {
		margin-top: 24px;
		margin-bottom: 0;
	}

	.meterbox-area {
		padding-bottom: 25px;
	}

	.account-topitem {
		margin: 10px 0;
	}

	.account-top {
		padding: 16px 25px;
	}



	












}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {
	
	.modal-backdrop.show {
	    opacity: 0.5;
	}

	.modal-backdrop {
	    background-color: #000000;
	}

	.navbar-brand img {
		max-width: 120px;
	}

	.mbl-sec {
		display: flex;
		position: relative;
		width: 75%;
	}

	.mbl-header {
		position: absolute;
		left: 0;
		bottom: -47px;
	}
	
	.home-mbl {
		margin-top: -18px;
	}

	.hamburger-box {
		top: -20px;
	}

	.header-btm input {
		width: 75%;
	}

	.header-area {
		padding: 20px 0;
	}

	@media only screen and (max-width: 575px) {
		.mbl-header {
			display: none;
		}

		.home-mbl {
			margin-top: 2px;
		}
	
		.hamburger-box {
			top: 2px;
		}

		.header-area {
			padding: 14px 0;
		}

		.navbar-brand img {
			max-width: 110px;
		}

		.mbl-sec {
			width: initial;
		}

		.mobile-footer-item ul li {
			padding: 0 5px;
		}
	
		.mobile-footer-item ul li a {
			width: 46px;
			height: 46px;
			font-size: 22px;
		}
	
		.mobile-footer-item p,
		.mobile-footer-item .info {
			font-size: 13.5px;
		}
	}

	.block-table {
		overflow-x: scroll;
	}

	.block-table table {
		width: 740px;
	}

	.block-right {
		margin-top: 20px;
	}

	.clause-part h4,
	.clause-part h4 span {
		font-size: 19px;
	}

	.blcok-uper-item h4 {
		font-size: 17.5px;
	}

	.blcok-uper-item h2 {
		font-size: 23.5px;
	}

	.block-upper1 {
		align-items: flex-start;
	}

	.activity-right {
		overflow-x: scroll;
	}

	.activity-right table {
		width: 740px;
	}

	.meter-box1,
	.meter-box2 {
		margin-top: 24px;
		margin-bottom: 0;
	}

	.meterbox-area {
		padding-bottom: 25px;
	}

	.activity-header h2 {
		font-size: 20px;
	}

	.account-topitem {
		margin: 8px 0;
	}

	.account-top {
		padding: 16px 25px;
	}

	.overview-chart {
		padding: 10px;
	}

	





	










}